$bg: rgb(11, 20, 26);
$green: rgb(0, 92, 75);
$gray: rgb(32, 44, 51);
$lite_gray: rgb(42, 57, 66);
$white: rgb(223, 223, 223);

@mixin pre-load-image {
    width: 50%;
    height: auto;
    padding: .5em 0;
    border-radius: 40% 40% 50% 50%;
    backdrop-filter: blur(1px);
    background-image: radial-gradient(circle, rgba($bg, 0.8) 0%, rgba($bg, 0) 100%);
    box-shadow: 0 0 150px rgba($bg, 1);
}

// ..........scrollbar..........
// ...........width........
::-webkit-scrollbar {
    width: 5px;
    transition-property: width;
    transition-duration: 3s;

    &:hover {
        width: 10px;
    }
}

// Track
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $lite_gray;
}

//  Handle
::-webkit-scrollbar-thumb {
    background: $gray;
    border-radius: 10px;

    &:hover {
        background: $green;
    }
}

//end of scrollbar

* {
    position: relative;
    color: $white;
    transition-duration: 300ms;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba($bg, $alpha: .9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    .side {
        display: none;
    }

    // only for pc.
    @media screen and (min-width: 768px) {
        justify-content: space-between;

        .side {
            display: block;
            position: relative;
            height: 100vh;
            width: calc(100vw - 500px);
            overflow: hidden;

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                // blur the video
                filter: blur(20px);
            }

            &::before {
                z-index: 9999;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($bg, .95);
            }

            .content {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 2em;
                position: absolute;
                inset: 0;
                z-index: 9999;
                width: 100%;
                height: 100%;
                max-width: 100%;

                md-block {
                    max-width: 70%;
                    word-wrap: break-word;

                    p {
                        text-align: justify;
                    }
                }

                img {
                    @include pre-load-image;
                    max-width: 400px !important;
                }
            }

        }
    }
}

#chat-container {
    background-image: linear-gradient(rgba($bg, .6), rgba($bg, .6)), url("../bg-min.svg"), linear-gradient(rgba($bg, 1), rgba($bg, 1));
    background-size: cover;
    // background-color: $bg;
    width: 550px;
    // width: 50vw;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba($green, 0.3);
    // padding: 1em;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    overflow: hidden;

    #messages {
        overflow-y: auto;
        height: 100%;
        margin-bottom: .5em;
        // margin: 1em;
        display: flex;
        flex-direction: column;

        &:nth-child(odd) {
            float: right;
        }

        md-block {
            // display: block;
            flex-direction: column;

            p {
                margin: 0;
                text-wrap: wrap;
                max-width: 100%;
                // text-align: justify;
            }
        }
    }

    :has(.message) {
        .empty {
            display: none;
        }
    }

    :not(:has(.message)) {
        .empty {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;

            .fa-beat-fade {
                color: red;
                margin-left: .5em;
            }

            img {
                @include pre-load-image;
            }
        }
    }

    .message {
        display: flex;
        flex-direction: column;
        padding: .5em .8em;
        border-radius: 12px;
        margin: 1em;
        margin-bottom: .5em;
        width: max-content;
        max-width: 70%;

        p,
        strong {
            font-size: 14px;
        }

        @mixin uploaded-file {
            max-width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: .5em;

        }

        img,
        video {
            @include uploaded-file;
            height: 300px;
        }

        audio {
            @include uploaded-file;

            // &::-webkit-media-controls-panel {
            //     border-radius: 0em !important;
            //     background-color: $bg;
            // }
        }

        // audio::-webkit-media-controls-play-button,
        // audio::-webkit-media-controls-current-time-display,
        // audio::-webkit-media-controls-time-remaining-display,
        // audio::-webkit-media-controls-timeline,
        // audio::-webkit-media-controls-volume-slider,
        // audio::-webkit-media-controls-mute-button,
        // audio::-webkit-media-controls-overflow-button {
        //     filter: invert(1);
        // }
    }

    .user-message {
        // width: 100%;
        background-color: $green;
        align-self: flex-end;
    }

    .bot-message {
        background-color: $gray;
        align-self: flex-start;

        p {
            margin-bottom: .5em !important;
        }
    }
}

#input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2em .5em;
    // margin: 0 1em 0 1em;
    // border-radius: .5em;
    background-color: rgba($lite_gray, .7);
    position: relative;

    #message-input {
        width: 80%;
        padding: 10px;
        margin: .5em 1em;
        border-radius: 8px;
        background-color: $gray;
        border: 1px solid $lite_gray;
        resize: none;

        &:focus {
            border: 1px solid $lite_gray;
            outline: 1px solid $lite_gray;
        }

    }

    .files {
        background-color: $gray;
        box-shadow: 0 0 15px rgba(black, 0.1);
        border: 1px solid $green;
        overflow: hidden;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: .5em 0;

        &::before {
            content: "\2b";
            font-family: "Font Awesome 6 Free";
            font-size: 30px;
            opacity: .7;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        #media-input {
            opacity: 0;
            scale: 500%;
            overflow: hidden;
            cursor: pointer;
        }
    }

    #send-button {
        background-color: $gray;
        color: $white;
        border: none;
        padding: .5em;
        border-radius: 50%;
        cursor: pointer;
        width: 35px;
        height: 35px;

        &:hover {
            background-color: $lite_gray;
        }
    }
}

.file-input-preview {
    position: absolute;
    // top: 50px;
    // left: 50px;
    padding: .3em;
    border-radius: .5em;
    background: rgba($lite_gray, 0.9);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;


    img,
    video {
        // max-width: 100px;
        // max-height: 100px;
        width: 100px;
        aspect-ratio: 16/9;
        object-fit: cover;
        object-position: center;
        border-radius: .5em;
    }

    audio {
        width: 160px;
    }

    .remove-preview {
        cursor: pointer;
        color: $white;
        background-color: $lite_gray;
        font-weight: bold;
        position: absolute;
        inset: 0;
        width: .5em;
        height: .5em;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 50%;
        font-size: 18px;
        z-index: 1001;
    }
}